[user]
	name = goverclock
	mail = goverclock@outlook.com
	email = goverclock@outlook.com
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	excludesfile = ~/code/.gitignore
[alias]
	l = log --graph
